
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.markdownEditor {
  border: 1px solid black;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
}

.toggle {
  padding: 5px 20px;
}